@model ProductSummaryViewModel

    <div class="card card-inverse card-success mb-3 text-center">
        <div class="card-block bg-primary">
            <blockquote class="card-blockquote">

                <strong>@Model.Count</strong>ürünün toplam fiyatı : <span class='text-danger'>@Model.totalCount </span> TL
            </blockquote>
        </div>
    </div>