@{
    ViewData["Title"] = "Home Page";
}

<div class="m-1 p-1 bg-primary">
    <div class="row text-white">
        <div class="col-7">
            <h4>Products</h4>
        </div>
        <div class="col-5">

        </div>
    </div>
</div>

<div>

</div>